<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.styledemo.common">

    <application android:theme="@style/LibraryTheme">
        <activity
                android:name=".activities.MainActivity"
                android:label="Library Activity 1">
        </activity>

        <activity
                android:name=".activities.SecondActivity"
                android:label="Library Activity 2">
        </activity>
    </application>

</manifest>